.QwestEdit {
  text-align: center;
}

.qwest-not-found {
  text-align: center;
}

.qwest-edit-content {
  text-align: left;
}

.qwest-edit-title {
  font-size: 16px;
}

.qwest-edit-description {
  font-size: 16px;
}
