.QwestDetails {
  text-align: center;
}

.qwest-not-found {
  text-align: center;
}

.qwest-details-content {
  text-align: left;
}

.qwest-details-title {
  font-size: 16px;
}

.qwest-details-description {
  font-size: 16px;
}
