.QwestList {
  text-align: center;
}

.QwestList-content {
  text-align: left;
}

.QwestList-list {
  padding-top: 10px;
}

.QwestList-item-actions {
  text-align: center;
}

.badge {
  margin-left: 5px;
  background-color: red;
}
