.Qwest {
  text-align: center;
}

.Qwest-content {
  text-align: left;
}

.Qwest-list {
  padding-top: 10px;
}

.Qwest-item-actions {
  text-align: center;
}

.badge {
  margin-left: 5px;
  background-color: red;
}
