.Qwest {
  text-align: center;
}

.Qwest-content {
  text-align: left;
}

.Qwest-list {
  padding-top: 10px;
}

.Qwest-item-content {
  line-height: 45px;
}

.Qwest-item-button-group {
  float: right;
  padding: 5px;
}

.badge {
  margin-left: 5px;
  background-color: red;
}
