.UserDetails {
  text-align: left;
}

.user-not-found {
  text-align: center;
}

.user-details-image {
  border-style: solid;
  border-width: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-details-default-image {
  font-size: 40px;
}

.user-details-name {
  font-size: 20px;
}
